@{
  Layout = "_Layout";
}

@model SweetSavoryTreats.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TreatName)
    @Html.TextBoxFor(model => model.TreatName, new { @class = "text", required = "required" })

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>